language: java
script: ant test
notifications:
  irc:
    channels:
      - "irc.freenode.org#jnr"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
matrix:
  include:
  - os: osx
  - os: linux
    jdk: openjdk6
  - os: linux
    jdk: openjdk7
  - os: linux
    jdk: oraclejdk7
  - os: linux
    jdk: oraclejdk8
sudo: false
cache:
  directories:
  - $HOME/.m2
