name: Build macOS Binaries

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  native:

    runs-on: macos-latest

    name: macOS binary

    steps:
      - uses: actions/checkout@v4
      - name: set up java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '8'
      - name: cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Install dependencies
        run: brew install texinfo automake autoconf
      - name: Build
        env:
          LIBRARY_PATH: /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/lib:$LIBRARY_PATH
        run: "rm archive/* && ant jar && ant archive-platform-jar"
      - name: Dump config.log
        if: ${{ always() }}
        run: "cat /Users/runner/work/jffi/jffi/build/jni/libffi-darwin-*/config.log || true"
      - name: Archive built library
        uses: actions/upload-artifact@v4
        with:
          name: shared-object
          path: build/jni/*.so
      - name: Archive built jar
        uses: actions/upload-artifact@v4
        with:
          name: jar
          path: archive/*.jar
